/simpleserver/config.yml
/venv/
/.venv/
/susers/migrations/

/drug_images/
/media/
/sen/migrations/
/sgpt/migrations/
/syyb/migrations/
syyb/__pycache__/
susers/__pycache__/
simpleserver/__pycache__/

.idea/git_toolbox_prj.xml
.idea/misc.xml
.idea/simpleserver.iml
.idea/vcs.xml
.idea/workspace.xml
.idea/inspectionProfiles/profiles_settings.xml
.vscode/launch.json

.idea/modules.xml
.idea/.gitignore
.idea/yyb-be.iml
.idea/inspectionProfiles/Project_Default.xml
.idea/log/zzswork_error.log
.idea/log/zzswork.log
log/zzswork_error.log
log/zzswork.log
